/* 1400, 1199, 991, 767, 575, 480, 360, 320 */

/*
Author: 
Support: 
Description: 
Version: 1.0
*/
/* CSS Index
-----------------------------------
1.default css
-----------------------------------

/* min-width 1430 */
@media (min-width: 1430px) {}

/* min-width 1599 */
@media (max-width: 1599px) {
}
/* min-width 1499 */
@media (max-width: 1499px) {
    /* comparison section */
    .comparison-line-item {
        transform: skewX(-30deg) translateX(-87%);
    }
    .comparison-content-item.content-reverse .comparison-line-item {
        transform: skewX(30deg) translateX(99.4%);
    }
    /* comparison section */
}
/* max-width 1399 */
@media (max-width: 1399.98px) {
    /* comparison section */
    .comparison-line-item {
        transform: skewX(-30deg) translateX(-89%);
    }
    .comparison-content-item.content-reverse .comparison-line-item {
        transform: skewX(30deg) translateX(100.4%);
    }
    /* comparison section */
}

/* max-width 1199 */
@media (max-width: 1199.98px) {
    /* comparison section */
    .comparison-line-item {
        transform: skewX(-30deg) translateX(-91%);
    }
    .comparison-content-item.content-reverse .comparison-line-item {
        transform: skewX(30deg) translateX(101.4%);
    }
    /* comparison section */

}

/* max-width 1399 - min-width 992*/
@media (max-width: 1199.98px) and (min-width: 992px) {}

/* max-width 991 */
@media (max-width: 991.98px) {
.capabilities-content-wrapper h1 ,
h1 {
	font-size: 60px;
}

h2 {
	font-size: 54px;
}

h3 {
	font-size: 40px;
}

h4 {
	font-size: 36px;
}
h5{
    font-size: 28px;
}
h6{
    font-size: 20px;
}
.common-title{
    font-size: 70px;
}
/* header area */
.header-area {
    padding: 13px 0;
}
/* header area */

/* capabilities section */
.data-center-section-area {
    padding: 300px 0 100px;
}
/* capabilities section */

/* comparison section */
.section-padding {
    padding: 100px 0;
}
.comparison-content-item .col {
    flex: 1 0 100%;
}
.comparison-content-item .row{
    --bs-gutter-y:30px;
}
.comparison-img-wrapper {
    max-width: 100%;
}
.comparison-content-item {
    margin-bottom: 60px;
}
/* comparison section */
 


}

/* max-width 767 */
@media (max-width: 767.98px) {
.capabilities-content-wrapper h1 ,
h1 {
	font-size: 48px;
}

h2 {
	font-size: 44px;
}

h3 {
	font-size: 36px;
}
}

/* max-width 575 */
@media (max-width: 575.98px) {
/* capabilities section */
.data-center-section-area {
    padding: 200px 0 100px;
}
/* capabilities section */

/* comparison section */
.common-title {
    font-size: 60px;
}
.section-padding {
    padding: 70px 0;
}
.comparison-line-item {
    transform: skewX(-30deg) translateX(-94%);
}
/* comparison section */

}

/* max-width 479 */
@media (max-width: 479.98px) {
	
.data-center-section-area {
    padding: 200px 0 70px;
}
}

/* max-width 383 */
@media (max-width: 383.98px) {
.common-title {
    font-size: 50px;
}
.data-center-section-area {
    padding: 200px 0 50px;
}


}